<nav class="navbar">
  <div class="navbar-brand">
    <a routerLink="/home">Bar & Ristoranti</a>
  </div>
  <ul class="navbar-links">
    <li>
      <a routerLink="/home">
        <i class="fas fa-home"></i> Home
      </a>
    </li>
    <li>
      <a routerLink="/menu">
        <i class="fas fa-utensils"></i> Menu
      </a>
    </li>
    <li>
      <a routerLink="/orders">
        <i class="fas fa-receipt"></i> Ordini
      </a>
    </li>
    <li>
      <a routerLink="/payments">
        <i class="fas fa-credit-card"></i> Pagamenti
      </a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>

<router-outlet />
